.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: 30px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  margin-right: 80px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  transition: .3s ease-in all;
}

.nav__link:hover {
  color: #2F80ED;
}