.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  overflow-y: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  background: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.header__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 183px 0 28px 80px;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.header__span-acent {
  color: #2f80ed;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  z-index: 1;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  z-index: 0;
}

.header__footer{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  color: #6F6F6F;
  margin: auto 80px 40px;
  position: relative;
  z-index: 1;
}

.header__paragraph span {
  display: block;
}

.header__paragraph:nth-child(2){
  align-self: flex-end;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: 30px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  margin-right: 80px;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.recipes {
  background-color: #0a2750;
  background-image: url('../images/background_recipes.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  padding: 100px 0 24px 80px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}

.recipes__subtitle {
  max-width: 438px;
  padding: 0 0 80px 80px;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 215px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recipes__iframe iframe {
  border: 0;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__video-caption p {
  margin: 0;
}